/* relative から抜き出してきたが整備途中 */

* { font-size: 1.8vh; line-height: 3.6vh; }
.all { width: 45vh; height: 100vh; 	max-width: 100vw; padding: 0 1vh; }

.board { border-width: 0.3vh; border-radius: 0.2vh; margin: 1.6vh auto; }
.board .discarding { line-height: 40.0vh; }
.board .discarding .material-icons { font-size: 4.8vh; }

.cell { width: 4.0vh; height: 4.0vh; margin: 0px; border-width: 1px; }

.robot { font-size: 2.0vh; line-height: 3.0vh; height: 3.0vh; width: 3.0vh; }
.robot.minirobot { width: 9px; height: 9px; line-height: 9px; border-radius: 3px; }

.wall { border-radius: calc(0.5px + 1px); }
.wall-x { width: calc(100% + 2px + 0.2vh);  height: calc(1px + 0.2vh);
	left: calc(-1px - 0.1vh); top: calc(100% - 0.1vh); }
.wall-y { width: calc(1px + 0.2vh); height: calc(100% + 2px + 0.2vh);
	top: calc(-1px - 0.1vh); left: calc(100% - 0.1vh); }
.wall-x.wall-back { top: calc(-1px - 0.1vh); }
.wall-y.wall-back { left: calc(-1px - 0.1vh); }

.goal { width: calc(100% + 4px); height: calc(100% + 4px); border-radius: 2px; top: -2px; left: -2px; }

.trace { max-width: calc(100% - 4.0vh + 1px); max-height: calc(100% - 4.0vh + 1px); }

.buttons { margin: 0.4vh; padding: 0.8vh 0; }
.buttons > * { line-height: 4.0vh; border-width: 0.2vh; }
.buttons > * + * { margin-left: 0.2vh; }

.buttonset .buttons > * + * { margin-top: 0.2vh; }

.buttons button { border-radius: 4px; min-width: 4.8vh; min-height: 3.6vh; }

.buttons button.unimportant { border-width: 0.2vh; }
.buttons button.important { border-width: 0.2vh; min-width: 6.0vh; }

.buttons label > input[type=radio] + *{ padding: 0.6vh 0.8vh; margin: 0.2vh; line-height: 3.6vh; 
	min-width: 4.8vh; min-height: 3.6vh; border-width: 0.2vh; border-radius: 0.6vh; }
.buttons label > input[type=radio]:active + * { transform: scale(97.5%); }


.covered { line-height: 3.4vh; border-radius: 0.4vh; padding: 0 0.4em; min-height: 1.5em; line-height: 3.6vh; }
.covered.short { width: 6.0vh; }
.covered.short2 { width: 12.0vh; }
.covered.short.large, .covered.short2.large { line-height: calc(6.0vh - 0.2vh); font-size: calc(3.6vh - 0.2vh); }
.covered.long.large { line-height: 2.4vh; padding: 0.6vh 1.2vh; }
.covered.long.large.fullwidth { padding: 0.6vh 0; }
.covered.inactive { border-width: 0.1vh }

.buttons .caption.large { line-height: calc(6.0vh - 0.2vh); }

.buttons button.cover-title.short { width: 6.0vh; }
.buttons button.cover-title.short2 { width: 12.0vh; }

.modal { border-radius: 0.4vh; width: calc(45vh - 2.0vh - 2.0vh);
	top: 40%; left: calc(50% - (45vh - 2.0vh) / 2); padding: 1.0vh; 
	transform: translate(0, -40%); max-height: 90%; 
}

.modal.setting-section { padding-bottom: 3.0vh; }

button.material { padding: calc(0.6vh - 0.2vh); height: 3.6vh;  width: 4.8vh; line-height: 2.4vh; }
button.material .material-icons { font-size: 2.4vh;  }
button.large { height: 6vh; }
button.material.large { padding: calc(1.8vh - 1px) calc(0.6vh - 1px); }

.modal.dialog .dialog-line-caption { padding: 0.2vh; margin-top: 0.6vh; }
.modal.dialog .dialog-line { padding: 0.2vh; }
.modal.dialog .dialog-line input[type=text] { line-height: 3.4vh; }
.modal.dialog .dialog-line textarea { flex-grow: 1; height: 20.0vh; }
.modal.dialog .dialog-line input[type=text],
	.modal.dialog .dialog-line textarea { border-width: 0.1vh; border-radius: 0.2vh; }
.modal.dialog .dialog-line button { height: 4.2vh; }
.modal.dialog .dialog-line.image-view { padding: 0.8vh 0.2vh; }
.modal.dialog .dialog-line.image-view img { max-width: calc(100% - 1.6vh); }
.modal.dialog .dialog-line.image-view .overlay { border-width: 0.2vh;
	border-radius: 0.4vh; padding: 0 1.6vh;  top: 1.6vh; left: 1.6vh; }
.modal.dialog .dialog-line.image-view.qrcode { padding: 2.4vh; margin: 1.2vh 0.4vh; }

.board-set { margin: 0.8vh; }
.board.editboard { padding: 0.2vh; border-width: 0.1vh; }
.cell.editcell { width: 2.8vh; height: 2.8vh; line-height: 2.8vh; border-width: 0.2vh; margin: 0.1vh; }
.cell.editcell.selected { outline-width: 0.1vh; outline-offset: -0.5vh;}
.cell.editcell.sample { width: 2.4vh; height: 2.4vh; line-height: 3.6vh; }

.size50 .cell { width: 5vh; height: 5vh; }
.size50 .robot:not(.minirobot) { font-size: 2.5vh; width: 3.5vh; height: 3.5vh; line-height: 3.5vh; }
.size50 .trace { max-width: calc(100% - 5vh + 1px); max-height: calc(100% - 5vh + 1px); }
.size50 .cell.editcell { width: 3.5vh; height: 3.5vh; line-height: 3.5vh; }

.size40 .cell { width: 4vh; height: 4vh; }
.size40 .robot:not(.minirobot) { font-size: 2.0vh; width: 2.8vh; height: 2.8vh; line-height: 2.8vh; }
.size40 .trace { max-width: calc(100% - 4vh + 1px); max-height: calc(100% - 4vh + 1px); }
.size40 .cell.editcell { width: 2.8vh; height: 2.8vh; line-height: 2.8vh; }

.size35 .cell { width: 3.5vh; height: 3.5vh; }
.size35 .robot:not(.minirobot) { font-size: 1.75vh; width: 2.8vh; height: 2.8vh; line-height: 2.8vh; }
.size35 .trace { max-width: calc(100% - 3.5vh + 1px); max-height: calc(100% - 3.5vh + 1px); }
.size35 .cell.editcell { width: 2.45vh; height: 2.45vh; line-height: 2.45vh; }

.size25 .cell { width: 2.5vh; height: 2.5vh; }
.size25 .robot:not(.minirobot) { font-size: 1.25vh; width: 1.8vh; height: 1.8vh; line-height: 1.8vh; }
.size25 .trace { max-width: calc(100% - 2.5vh + 1px); max-height: calc(100% - 2.5vh + 1px); }
.size25 .cell.editcell { width: 1.75vh; height: 1.75vh; line-height: 1.75vh; }

