@import "https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&display=swap";
* { font-family: 'BIZ UDPGothic', sans-serif; font-size: 18px; line-height: 36px; }
html { overflow: hidden; }
body { margin: 0; width: 100%; max-height: 100vh; }
#root { max-height: 100vh; }
.all { width: fit-content; height: max-content;
	max-width: 480px; max-height: 900px; margin: auto; }
.all.scalable { transform-origin: top center; }
.board-wrapper { position: relative; overflow: hidden; }

@import "scaling.less";
@import "colors.less";

.board {
	display: grid; width: auto; align-items: center; 
	border: 3px solid @colors[wall]; border-radius: 2px; margin: 0 auto 16px;
	position: relative; cursor: pointer; -webkit-tap-highlight-color: #0000;
	background: @colors[board];
	&.loading .loading-message {
		opacity: 100; position: absolute; 
		width: 100%; display: table-cell; 
		text-align: center; vertical-align: middle; z-index: 110;
	}
	&.pressed { transform: scale(99.5%); }
	.discarding {
		position: absolute; width: 100%; height: 100%;  top: 0; left: 0;
		opacity: 100%; z-index: 120;
		&-back { background: @colors[board-discarding]; }
		&-message { text-align: center; line-height: 400px; color: @colors[board-discarding-text]; }
		.material-icons { font-size: 48px; }
	}
	&.back {
		position: absolute; opacity: 90%; border-color: @colors[wall-next];
		.wall { background: @colors[wall-next]; }
		.robot, .goal { opacity: 0; }
		.cell {
			background: transparent; border-color: @colors[cell-border-next];
			&.shade { background: transparent; border-color: @colors[cell-shade-next]; }
		}
	}
}

.cell {
	width: 40px; height: 40px; line-height: 40px;
	margin: 0px; position: relative; 
	border: 1px solid @colors[cell-border]; background: transparent; text-align: center;
	&.shade {
		background: @colors[cell-shade]; background-origin: 0px 0px;
		border-color: @colors[cell-shade-border];
	}
}

.robot {
	text-align: center; font-size: 20px; line-height: 30px; z-index: 100;
	color: @colors[robot-text]; background: @colors[robot-sub]; border-radius: 50%; user-select: none; 
	box-shadow: none; position: relative; 
	height: 30px; width: 30px; margin: auto;
	&.main { background: @colors[robot-main]; }
	&.color2 { background: @colors[robot-2]; }
	&.color3 { background: @colors[robot-3]; }
	&.color4 { background: @colors[robot-4]; }
	&.minirobot {
		width: 9px; height: 9px; line-height: 9px; border-radius: 3px; 
		background: @colors[mini-sub];
		&.main { background: @colors[mini-main]; }
		&.color2 { background: @colors[mini-2]; }
		&.color3 { background: @colors[mini-3]; }
		&.color4 { background: @colors[mini-4]; }
	}
}

.wall {
	position: absolute; background: @colors[wall]; border-radius: calc(0.5px + 1px);
	z-index: 100;
	&-x {
		width: calc(100% + 2px + 2px);
		height: calc(1px + 2px);
		left: calc(-1px - 1px);
		top: calc(100% - 1px);
		&.wall-back { top: calc(-1px - 1px); }
	}
	&-y {
		width: calc(1px + 2px);
		height: calc(100% + 2px + 2px);
		top: calc(-1px - 1px);
		left: calc(100% - 1px);
		&.wall-back { left: calc(-1px - 1px); }
	}
}


.goal {
	position: absolute;
	width: calc(100% - 0px); height: calc(100% - 0px);
	border-radius: 2px; 
	background: @colors[mini-main]; z-index: 90; 
	top: -1px; left: -1px; padding: 1px;
	&.color2 { background: @colors[mini-2]; }
	&.color3 { background: @colors[mini-3]; }
	&.color4 { background: @colors[mini-4]; }
}

.cell-text {
	width: calc(100% - 0px); height: calc(100% - 0px); line-height: inherit;
	color: @colors[cell-text];
}

.trace {
	width: 100%; height: 100%; margin: auto; position: relative; 
	max-width: calc(100% - 40px + 1px); max-height: calc(100% - 40px + 1px);
	background: @colors[mini-sub]; z-index: 103; border-radius: 0px;
	&.main { background: @colors[mini-main]; }
	&.color2 { background: @colors[mini-2]; }
	&.color3 { background: @colors[mini-3]; }
	&.color4 { background: @colors[mini-4]; }
}

.size50{
	.cell { width: 50px; height: 50px; line-height: 50px; }
	.robot:not(.minirobot) { font-size: 25px; width: 36px; height: 36px; line-height: 36px; }
	.trace { max-width: calc(100% - 50px + 1px); max-height: calc(100% - 50px + 1px); }
}

.size35 {
	.cell { width: 35px; height: 35px; line-height: 35px; }
	.robot:not(.minirobot) { font-size: 17.5px; width: 28px; height: 28px; line-height: 28px; }
	.trace { max-width: calc(100% - 35px + 1px); max-height: calc(100% - 35px + 1px); }
}

.size25 {
	.cell { width: 25px; height: 25px; line-height: 25px; }
	.robot:not(.minirobot) { font-size: 12.5px; width: 18px; height: 18px; line-height: 18px; }
	.trace { max-width: calc(100% - 25px + 1px); max-height: calc(100% - 25px + 1px); }
}

.buttons {
	text-align: center; margin: 0.2em auto; padding: 0.4em 0;
	display: flex; justify-content: space-around; max-width: 480px; flex-wrap: wrap;
	&.fullwidth { justify-content: space-between; }
	> * { width: fit-content; line-height: 36px; border: 1px solid transparent; }
	> * + * { margin-left: 2px; }
}

.buttonset {
	max-height: 150px; overflow-y: auto;
	.buttons {
		padding: 0;
		> * + * { margin-left: 0; margin-top: 2px; }
	}
}

.buttons button {
	line-height: unset; background: @colors[button]; border-radius: 4px;
	min-width: 48px; min-height: 36px; cursor: pointer; user-select: none;
	@media (hover: hover) {
		&:hover { background: @colors[button-hover]; position: relative; left: 0px; top: 1px; }
	}
	&:active { transform: scale(97.5%); }
}

.buttons button.disabled {
	background: transparent; cursor: default;
	@media (hover: hover) {
		&:hover { background: transparent; left: 0; top: 0; }
	}
}

.buttons button.unimportant {
	background: transparent; border: 1px solid @colors[button];
	@media (hover: hover) {
		&:hover { background: @colors[button-hover]; }
	}
}

.buttons button.important {
	background: transparent; border: 1px solid @colors[button-important]; min-width: 60px;
	@media (hover: hover) {
		&:hover { background: @colors[button-important-hover]; }
	}
}

.buttons.setting-item {
	flex-wrap: wrap; justify-content: flex-start;
	.setting-title { display: block; width: 100%; text-align: left; }
	.setting-main { display: flex; justify-content: flex-start; flex-wrap: wrap; margin: 0 0 0 40px; }
	&.compact {
		flex-direction: row; justify-content: space-between; align-items: center; margin: 0 4px;
		&:not(:first-child) { border-top: 1px solid @colors[item-separator]; }
		> * { width: fit-content; }
		.setting-main { justify-content: flex-end; flex-grow: 1; }
	}
}

.buttons label > input[type=radio] {
	position: fixed; top: -99999px;
	+ * {
		padding: 6px 8px; margin: 2px; line-height: 36px; 
		min-width: 48px; min-height: 36px; 
		border: @colors[radio-border] 2px solid; border-radius: 6px; user-select: none; cursor: pointer;
	}
	&:checked + * {
		border-color: @colors[radio-checked-border]; background: @colors[radio-checked];
		&:hover {
			border-color: @colors[radio-checked-border]; background: @colors[radio-checked];
			@media (hover: hover) {
				border-color: @colors[radio-checked-hover-border]; background: @colors[radio-checked-hover];
			}
		}
	}
	&:active + * { transform: scale(97.5%); }
}

.covered {
	display: inline-block; text-align: center; cursor: pointer; color: @colors[covered-text];
	background: @colors[covered];
	line-height: 34px; border-radius: 4px; 
	padding: 0 0.4em; min-height: 1.5em; line-height: 36px; vertical-align: middle;
	&.short { width: 60px; padding: 0; }
	&.short2 { width: 120px; padding: 0; }
	&.long { width: min-content; flex-grow: 1; }
	&.long.fullwidth { width: min-content; }
	&.large {
		&.short, &.short2 { line-height: calc(60px - 2px); font-size: calc(36px - 2px); }
		&.long { line-height: 24px; padding: 6px 12px; }
		&.long.fullwidth { padding: 6px 0; }
	}
	&:not(.isOpen) { display: none; }
	&.inactive {
		background: transparent;
		border: 1px solid @colors[covered-inactive-border];
		color: @colors[covered-inactive-text];
	}
}

.flex-filler { flex-grow: 1; }

.buttons .caption.large { line-height: calc(60px - 2px); }
.buttons button.cover-title{
	display: inline-block; width: fit-content;
	&.short { width: 60px; }
	&.short2 { width: 120px; }
	&.long { flex-grow: 1; }
	&.isOpen { display: none; }
	&.inactive { background: @colors[cover-title-inactive]; color: transparent; }
}

.modal-back { position: fixed; width: 100%; height: 100%; margin: 0; 
	top: 0; left: 0; background-color: @colors[modal-back]; z-index: 1000; }
.modal {
	position: fixed; z-index: 1010; 
	width: ~"min(calc(90% - 20px), calc(500px - 20px))"; 
	top: 40%;
	left: ~"max(5%, calc(50% - 250px))";
	transform: translate(0, -40%);
	height: fit-content; max-height: 80%; overflow-y: auto; 
}
.modal:not(.modal-transparent), .modal-transparent > * {
	background: @colors[modal]; border-radius: 4px; padding: 10px 10px 10px; 
}
.modal-transparent {
	background: transparent; border: 1px solid @colors[modal-transparent-border];
	> *:not(:first-child) { margin-top: 16px; }
}

.modal.setting-section {
	padding-bottom: 30px; background: @colors[modal];
	label span { display: inline-block; min-width: 60px; }
}

button.material {
	color: @colors[button-material-text];
	padding: calc(6px - 1px); height: 36px; width: 48px;
}
button.large { height: 60px; }
button.material.large { padding: calc(18px - 1px) calc(6px - 1px); }

.modal.dialog {
	display: flex; flex-direction: column; align-items: stretch;
	.dialog-title { text-align: center; }
	.dialog-line-caption { padding: 2px; margin-top: 6px; }
	.dialog-line {
		padding: 2px; display: flex;
		input { flex-grow: 1;  }
		textarea { flex-grow: 1; height: 200px; }
		textarea.code { font-family: monospace; word-break: break-all; }
		button { height: 42px; }
		&.image-view {
			justify-content: center; background: @colors[modal-image]; padding: 8px 2px;
			position: relative;
			.overlay {
				display: inline-block;
				background: @colors[modal-image-overlay];
				border: 2px solid @colors[modal-image-overlay-border]; border-radius: 4px;
				padding: 0 16px; 
				position: absolute; top: 16px; left: 16px;
			}
			&.qrcode { background: @colors[qrcode]; padding: 24px; }
		}
	}
}

.board-set {
	width: 100%; margin: 8px;
	.disabled { visibility: hidden; }
}
.board.editboard {
	max-width: 100%; padding: 2px;
	border-width: 3px; border-color: @colors[edit-border];
	background: @colors[edit];
	width: fit-content; height: fit-content; user-select: none; }
.cell.editcell {
	width: unset; height: unset; line-height: unset; text-align: center;  border: 2px solid transparent;
	margin: 1px; color: @colors[edit-text]; 
	&:not(.shade) { background: @colors[edit-cell]; }
	&.selected {
		outline: 1px solid @colors[edit-selected-outline]; outline-offset: -5px;
		color: @colors[edit-selected-text];
	}
	&.wall1, &.wall2 { border-top-color: @colors[edit-wall]; }
	&.wall1, &.wall3 { border-left-color: @colors[edit-wall]; }
	&.wall2, &.wall4 { border-right-color: @colors[edit-wall]; }
	&.wall3, &.wall4 { border-bottom-color: @colors[edit-wall]; }
	&.shade { border-color: @colors[edit-shade]; }
	&.sample { width: 24px; height: 24px; line-height: 36px; background: transparent; }
	&.edit-robot {
		position: relative; font-size: 80%;
		&::after {
			width: 100%; height: 100%; position: absolute;
			top: -1px; left: -1px; border-radius: 50%; border: 1px solid; content: " ";
		}
	}
}

.all.diagonal {
	.board { transform: rotate(-45deg) scale(0.7); margin: 0 auto; }
	&.rectangular .board { transform: rotate(-45deg) scale(0.56); }
	.robot, .cell-text, .board .discarding-message { transform: rotate(45deg); }
}